{% extends "layout.html" %}

{% block content %}
<div id="hero"><img src="../static/images/pexels-pixabay-256559.jpg" alt="A library's book hallway."></div>
<section id="aboutSection">
  <img id="logoPic" src="../static/images/image.webp" alt="AgileStock base station software screenshot shown on a raspberry pi.">
  <h2>{{ title }}</h2>
  <div class="card-row">
    <p>Use the AgileStock application to keep record and manage your product inventory. Our solution provides quick and easy item entry pivoting barcode technology and database storage.</p>
    <div class="card">
      <img src="../static/images/20240124_174500.webp" alt="AgileStock base station software screenshot shown on a raspberry pi.">
      <h3>1. The Base Station</h3>
      <p>Agile Stock's base station scans items into your inventory.</p>
    </div>
    <div class="card">
      <img src="../static/images/2024-02-10__19_36_14-AgileStock_Interface.png" alt="AgileStock's base station showing item scan details.">
      <h3>2. Upload</h3>
      <p>Our scanner system finds the item, after the item's details are confirmed and the user clicks upload.</p>
    </div>
    <div class="card">
      <img src="../static/images/pexels-pixabay-4158.jpg" alt="Electronic devices of differnet sizes on a table.">
      <h3>3. View</h3>
      <p>The Agile Stock website keeps your inventory records in an easy-to-view inventory panel, available to any device.</p>
    </div>
  </div>
</section>

{% endblock %}
