<!-- ##########################################################################
## Company: AgileStock
## Engineer(s): Robert Howell
## 
## Create Date:    12/3/2023
## Project Name:    AgileStock
## Target Devices:    Web
## Tool versions:    Flask 3
## Description:   HTML for URI: /contact
## Dependencies:
##   -packages(s):
##      click==8.1.7
##      Jinja2==3.1.2
##      Werkzeug==3.0.1
##
## Revision: 1.1 - Markup validated 
## Revision: 1.0 - File Created
## Additional Comments: The contact page opens from site navigation panel, "Contact".
##  Markup validation: https://validator.w3.org/
##
########################################################################## -->
{% extends "layout.html" %}

{% block content %}

<section class="contact">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>
    <ul>
      <li>
        <address>
            <span class="label">Address:</span>
            <span class="value">123 Main Street, Anytown, USA</span>
        </address>
      </li>
      <li>
        <address>
            <span class="label">Phone:</span>
            <span class="value"><a href="mailto:Support@example.com">Support@example.com</a></span>
        </address>
      </li>
      <li>
        <address>
            <span class="label">Support:</span>
            <span class="value">(555) 555-5555</span>
        </address>
      </li>
    </ul>
  </section>
{% endblock %}
