{% extends "layout.html" %}
{% block content %}

<div>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div>
        
        <div>
            <h3>Edit Book: {{ booktitle }}</h3>
            <form method="post">
                <p>
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text">
                </p>
                <p>
                    <label for="author">Author</label>
                    <input id="author" name="author" type="text">
                </p>
                <p>
                    <label for="publisher">Publisher</label>
                    <input id="publisher" name="publisher" type="text">
                </p>
                <p>
                    <label for="publishedDate">Published Date</label>
                    <input id="publishedDate" name="publishedDate" type="text">
                </p>
                <p>
                    <label for="genre">Genre</label>
                    <input id="genre" name="genre" type="text">
                </p>
                <p>
                    <label for="ISBN">ISBN</label>
                    <input id="ISBN" name="ISBN" type="text">
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>

        {% block scripts %}{% endblock %}
    </div>
</div>

{% endblock %}
