{% extends "layout.html" %}

{% block content %}

<section>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div class="flex-content">
        {% for item in result %}
            <div class="inner">
                <img src="../static/images/book1.webp" alt="Book icon image." class="bookIcon">
                <table >
                    <tr>
                        <td><b>Title:</b></td>
                        <td class="col2">{{item.TITLE}}</td>
                    </tr>
                    <tr>
                        <td><b>Author:</b></td>
                        <td class="col2">{{item.AUTHOR}}</td>
                    </tr>
                    <tr>
                        <td><b>ISBN:</b></td>
                        <td class="col2">{{item.ISBN}}</td>
                    </tr>
                    <tr>
                        <td><b>Genre:</b></td>
                        <td class="col2">{{item.GENRE}}</td>
                    </tr>
                    <tr>
                        <td><b>ID:</b></td>
                        <td class="col2">{{item.BOOKID}}</td>
                    </tr>
                </table>
                <div class="bookButtons">
                    <form action="editbook"><button value="{{item.ISBN}}" name="isbn" type="submit">Edit</button></form>
                    <button value="{{item.ISBN}}" name="{{item.BOOKID}}" type="submit" class="DelButton">Delete</button>
                </div>
                <dialog class="deleteConfirm">
                    <p>Are you sure you want to delete this book from inventory?<br><br><b>Title:</b> {{item.TITLE}}<br><b>Isbn:</b> {{item.ISBN}}</p>
                    <div class="bookButtons">
                        <button autofocus>Cancel</button>
                        <form action="/API/Delete" method="POST">
                            <button name="delete_book" value="{{item.BOOKID}}" type="submit">Confirm</button>
                        </form>
                    </div>
                </dialog>

            </div>
        {%endfor%}
    <!-- </table> -->
    </div>
    <script type="text/javascript" async="true">
const dialog = document.querySelectorAll("dialog.deleteConfirm");
const showButton = document.getElementsByClassName("DelButton");
const closeButton = document.querySelectorAll("dialog button[autofocus]");

// "Show the dialog" button opens the dialog modally
for (let i=0; i<showButton.length; i++){
    showButton[i].addEventListener("click", () => {
    dialog[i].showModal();
    });

    // "Close" button closes the dialog
    closeButton[i].addEventListener("click", () => {
    dialog[i].close();
    });
}
        </script>
    {% block scripts %}{% endblock %}
</section>

{% endblock %}
