{% extends "layout.html" %}

{% block content %}

<div>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div>
        <div>
            <h3>{{testBookN.title}}</h3>
            <ul>
                <li>Author: {{testBookN.author}}</li>
                <li>Genre: {{testBookN.genre}}</li>
                <li>ISBN: {{testBookN.isbn}}</li>
                <li>Published Date: {{testBookN.publishedDate}}</li>
                <li>Publisher: {{testBookN.publisher}}</li>
            </ul>
        </div>
        <div>
            <h3>Button Pressed: {{ booktitle }}</h3>
            <form method="post">
                <label for="title">Book Title</label>
                <input id="title" name="title" type="text">
                <input type="submit" value="POST form method" >
            </form>
        </div>
        <div>
            <table>
                <thead>
                    <th>INVENTORYID</th>
                    <th>BARCODE</th>
                    <th>PRODUCTNAME</th>
                    <th>PRODUCTCATEGORY</th>
                    <th>INVENTORYSKU</th>
                </thead>
            {% for item in result %}
            <tr>
                <th>{{item.INVENTORYID}}</th>
                <td>{{item.BARCODE}}</td>
                <td>{{item.PRODUCTNAME}}</td>
                <td>{{item.PRODUCTCATEGORY}}</td>
                <td>{{item.INVENTORYSKU}}</td>
            </tr>
            {%endfor%}
        </table>
        </div>
        
        {% block scripts %}{% endblock %}
    </div>
</div>

{% endblock %}
