{% extends "layout.html" %}

{% block content %}

<section>
    <form action="/"><button value="items" name="view" type="submit"><svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg></button></form>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div class="flex-content">
        <table >
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Genre</th>
                <th>ID</th>
                <th>Publisher</th>
                <th>Published Date</th>
                <th id="editColumn">Edit</th>
                <th id="deleteColumn">Delete</th>
            </tr>
        {% for item in result %}
            <tr>
                <td class="col2">{{item.TITLE}}</td>
                <td class="col2">{{item.AUTHOR}}</td>
                <td class="col2">{{item.ISBN}}</td>
                <td class="col2">{{item.GENRE}}</td>
                <td class="col2">{{item.BOOKID}}</td>
                <td class="col2">{{item.PUBLISHER}}</td>
                <td class="col2">{{item.PUBLISHED_DATE}}</td>
                <td class="col2"><form action="editbook"><button value="{{item.ISBN}}" name="isbn" type="submit" class="EditButton hidden">Edit</button></form></td>
                <td class="col2"><button value="{{item.ISBN}}" name="{{item.BOOKID}}" type="submit" class="DelButton hidden">Delete</button></td>
            </tr>
            <dialog class="deleteConfirm">
                <p>Are you sure you want to delete this book from inventory?<br><br><b>Title:</b> {{item.TITLE}}<br><b>Isbn:</b> {{item.ISBN}}</p>
                <div class="bookButtons">
                    <button autofocus>Cancel</button>
                    <form action="/API/Delete" method="POST">
                        <button name="delete_book" value="{{item.BOOKID}}" type="submit">Confirm</button>
                    </form>
                </div>
            </dialog>
        {%endfor%}
    </table>

    <!-- </table> -->
    </div>
    <script type="text/javascript" async="true">
        </script>
    {% block scripts %}{% endblock %}
</section>

{% endblock %}
