{% extends "layout.html" %}

{% block content %}

<section>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div class="flex-content">
        {% for item in result %}
            <div class="inner">
                <table >
                    <tr>
                        <td><b>ID:</b></td>
                        <td>{{item.BOOKID}}</td>
                    </tr>
                    <tr>
                        <td><b>ISBN:</b></td>
                        <td>{{item.ISBN}}</td>
                    </tr>
                    <tr>
                        <td><b>Title:</b></td>
                        <td>{{item.TITLE}}</td>
                    </tr>
                    <tr>
                        <td><b>Author:</b></td>
                        <td>{{item.AUTHOR}}</td>
                    </tr>
                    <tr>
                        <td><b>Genre:</b></td>
                        <td>{{item.GENRE}}</td>
                    </tr>
                </table>
                <form action="editbook"><button value="{{item.ISBN}}" name="isbn" type="submit">Edit</button></form>
            </div>
        {%endfor%}
    <!-- </table> -->
    </div>
    
    {% block scripts %}{% endblock %}
</section>

{% endblock %}
