{% extends "layout.html" %}

{% block content %}

<div>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div>
        <div>
            <h3>{{testBookN.title}}</h3>
            <ul>
                <li>Author: {{testBookN.author}}</li>
                <li>Genre: {{testBookN.genre}}</li>
                <li>ISBN: {{testBookN.isbn}}</li>
                <li>Published Date: {{testBookN.publishedDate}}</li>
                <li>Publisher: {{testBookN.publisher}}</li>
            </ul>
        </div>
        <div>
            <h3>Button Pressed: {{ booktitle }}</h3>
            <form method="post">
                <label for="title">Book Title</label>
                <input id="title" name="title" type="text">
                <input type="submit" value="POST form method" >
            </form>
        </div>
        <div>
            {% for i in result %}
            <h3>Inventory item: {{loop.index0}}</h3>
            <ul>
                <li>ID: {{i.INVENTORYID}}</li>
                <li>Barcode: {{i.BARCODE}}</li>
                <li>Name: {{i.PRODUCTNAME}}</li>
                <li>Category: {{i.PRODUCTCATEGORY}}</li>
                <li>SKU: {{i.INVENTORYSKU}}</li>
            </ul>
            {%endfor%}
        </div>
        
        {% block scripts %}{% endblock %}
    </div>
</div>

{% endblock %}
