{% extends "layout.html" %}

{% block content %}

<div>
    <h1>Inventory</h1>
    <p class="lead">View a list of inventory items as scanned from AgileStock scanner.
    </p>
    <div>
        <h2>Sites</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <div>
            <h3>Site A</h3>
            <p>The site maintains the financial sector of the company</p>
        </div>
        <div>
            <h3>Site B</h3>
            <p>Site B is where the servers are.</p>
        </div>
    </div>
</div>

{% endblock %}
