@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700;800&family=Orbitron:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-White: #ffffff;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 0;
    margin: 0;
    font-family: 'Orbitron';

    & main {
        font-family: 'SourceSansPro';
    }

    & a {
        &:active {
            text-decoration-color: var(--clr-White);
        }

        &:has(#logo) {
            text-decoration: none;
        }
    }

    & #logo {
        font-size: 32px;
        font-weight: bold;
        color: var(--clr-White);
    }

    & nav {
        display: inline-block;
        height: 100vh;
        background-color: #536Ca6;
        color: var(--clr-White);

        & div:nth-child(1) {
            background-color: #092D80;
            padding: 1em;
        }

        & hr {
            margin: 0;
        }

        & ul {
            list-style: none;
            padding: 0;
            width: 100%;
        }

        & li {
            margin-block: 3rem;
            text-align: center;
            display: block;

            & a {
                padding: .5rem 1rem;
                text-decoration: none;
                border-radius: 1rem;
                padding-right: 35px;
                color: var(--clr-White);

                &:hover {
                    background-color: lightgreen;
                }


            }

            & svg {
                margin-right: 15px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    & img {
        margin: 0;
        max-width: 100%;
    }
}

main {
&.body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

& table,
& th,
& td {
text-align: left;
border-collapse: collapse;
padding: 1rem;
}

& table {
margin: 0;
    text-align: center;
    & .col2 {
            width: 100%;
        }
    }
    
    & table#edit_Table {
        & td:last-child input:not(type="submit") {
            width: 500px;
        }
}

& ul {
    list-style: none;
    margin-block: .5em;
}

& div {
    margin-block: 2em;
}

& .flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

& .inner {
    margin-inline: 1em;
    width: 400px;
    border: 2px solid green;
    padding: 1em;
    border-radius: .5em;
    background-color: lightblue;
    box-shadow: -5px 5px 8px black;

    & button:focus {
        background-color: transparent;
        /* Ensure button's background stays transparent */
    }

    &:focus-within {
        /* Apply background color when button is focused */
        background-color: lightseagreen;
    }
}
}

footer {
    position: absolute;
    bottom: 0;
}
/* Set padding to keep content from hitting the edges */


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}