@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700;800&family=Orbitron:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-White: #ffffff;
    --clr-primary-darkBlue: #092D80;
    --clr-primary-lightBlue: #536Ca6;
    --clr-lightblue: #add8e6;
    --clr-lightseagreen: #20b2aa;
    --clr-lightgreen: #90ee90;
    --clr-lightgoldenrodyellow: #fafad2;
    --clr-orangered: #ff4500;
    --clr-orange: #ffa500;
}

/* Styles for body content */
body {
    margin: 0;
    
        & .mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-shrink: 0;
        margin: 0;
        font-family: 'Orbitron';

        & main {
            font-family: 'SourceSansPro';
        }

        & a {
            &:active {
                text-decoration-color: var(--clr-White);
            }

            &:has(#logo) {
                text-decoration: none;
            }
        }

        & #logo {
            font-size: 32px;
            font-weight: bold;
            color: var(--clr-White);
        }

        & nav {
            display: inline-block;
            height: calc(max(100vh, 100%));
            background-color: var(--clr-primary-lightBlue);
            color: var(--clr-White);

            & div:nth-child(1) {
                background-color: var(--clr-primary-darkBlue);
                padding: 1em;
            }

            & hr {
                margin: 0;
            }

            & ul {
                list-style: none;
                padding: 0;
                width: 100%;
            }

            & li {
                margin-block: 3rem;
                text-align: center;
                display: block;

                & a {
                    padding: .5rem 1rem;
                    text-decoration: none;
                    border-radius: 1rem;
                    padding-right: 35px;
                    color: var(--clr-White);

                    &:hover {
                        background-color: var(--clr-lightgreen);
                    }
                }

                & svg {
                    margin-right: 15px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
            /* styles for mobile */
            @media screen and (750px > width){
                height: initial;
            }
            
        }

        & img {
            margin: 0;
            max-width: 100%;
        }

        .bookIcon {
            width: 75px; 
        }
        
        /* styles for mobile */
        @media screen and (750px > width){
            flex-direction: column;
        }
    }
}

/* Styles for main content */
main {
    &.body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

    & table,
    & th,
    & td {
        text-align: left;
        border-collapse: collapse;
    }

    & table {
        margin: 0;
        text-align: center;

        & .col2 {
            width: 100%;
        }
    }
        
    & table#edit_Table {
        background-color: var(--clr-lightgoldenrodyellow);
        width: calc(100% + 2em);

        & td {
            text-align: right;
        }
        
        & input:not(input[type="submit"]) {
            width: max(100%, 500px);
        }

        & input[type="submit"]{
            margin-block: 1em;
        }
    }
        
    & ul {
        list-style: none;
        margin-block: .5em;
    }

    & div {
        margin-block: 1em;
    }

    & .flex-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    & .inner {
        margin-inline: 1em;
        width: 400px;
        border: 2px solid green;
        padding: 1em;
        border-radius: .5em;
        background-color: var(--clr-lightblue);
        box-shadow: -5px 5px 8px black;
        overflow: auto;
        scrollbar-color: var(--clr-primary-lightBlue) var(--clr-lightblue);
        scrollbar-width: thin;
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;

        & .bookButtons {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 1em 0 0 0;
            grid-column: 1 / 3;
            align-items: end;

            & button {
                margin-left: 2em;
            }

            & :is(.DelButton.hidden, .EditButton.hidden) {
                display: none;
            }
        }

        & td {
            padding-right:1em;
        }
        
        &:focus-within {
            /* Apply background color when button is focused */
            background-color: var(--clr-lightgoldenrodyellow);
        }
    }

    & :is(button, input) {
        &:is(:hover, :focus){
            background-color: var(--clr-lightgreen);
            cursor: pointer;
        }
    }
    & form[action="editbook"] button {
        cursor: alias;
    }
    & button[name="delete_book"] {
        background-color: var(--clr-orange);
        scale: 1.2;

        &:is(:hover, :focus){
            background-color: var(--clr-orangered);
        }
    }

    & .deleteConfirm {
        background-color: var(--clr-lightgoldenrodyellow);
    }
}

footer {
    flex-direction: row;
    position: sticky;
    bottom: 0;
    background-color: var(--clr-primary-darkBlue);
    width: 100%;

    & p {
        margin-bottom: 0;
    }
}


/* 
Author: Robert Howell - Feb. 2024
Attribution: The below 'switch' elements are derived of Matt Smith's codepen: https://codepen.io/AllThingsSmitty/pen/MmxxOz?editors=1100
Codepen: https://codepen.io/AllThingsSmitty/pen/MmxxOz?editors=1100
Date: 2-10-2024 
*/
.switch {
    position:relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-block: .5rem;
    margin-inline: auto;

    & input {
        display: none;

        &:checked + .slider{
            background-color: #66bb6a;

        }

        &:checked + .slider:before{
            transform: translateX(15px);
        }
    }

    & .slider {
        width: 35px;
        height: 20px;
        background-color: var(--clr-lightblue);
        margin-inline: 10px;
        position: relative;
        transition: .4s;
        display: inline-block;
        border-radius: 20px;

        &:before {
            position:absolute;
            top: 4px;
            left: 4px;
            height: 12px;
            width: 12px;
            content: "";
            background-color: var(--clr-White);
            border-radius: 50%;
            transition: .4s;
        }
    }

    /* styles for mobile */
    @media screen and (750px > width){
        width: calc(max(30%, 130px));
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}